.carContainer{
    position: relative;
}
.carPhotoContainer {
    height: 267px;
    background-color: #E6DBD2;
    background-image: url('https://img.freepik.com/premium-vector/car-icon-isolated-on-a-white-background_646737-2503.jpg');
    background-blend-mode: multiply;
    background-size: contain;
    border-radius: 14px;
    margin-bottom: 14px;

}
.carPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}
.favoriteBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    fill: transparent;
}
.favoriteBtnBlue {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    fill: blue;
}


.carMainDiscription {
display: flex;
justify-content: space-between;
font-size: 16px;
margin-bottom: 8px;
}
.carInfo {
    display: flex;
    gap: 3px
}
.carSpan {
    color: #3470FF;
}
.carAddDiscription {
display: flex;
flex-direction: column;
gap: 4px;
height: 68px;
/* overflow: auto; */
}
.carDiscription {
    display: flex;
    font-size: 12px;
    color: rgb(18, 20, 23);
}

.carDiscription > p  {
    border-right: 1px solid rgba(18, 20, 23, 50%);;
    padding: 1px 6px;
}
.carDiscription > p:last-child {
    border-right: none;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.carDiscription > p:first-child {
    padding: 0 6px 0 0;
}

.carBtn {
    width: 100%;
    height: 44px;
    color: #FFFFFF;
    background-color: #0B44CD;
    border-radius: 12px;
    border: none;
    align-self: flex-end;
}
.carBtn:hover, .carBtn:focus {
    transition-property: background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #3470FF;
    box-shadow: 0px 0px 12px 4px rgba(212,208,212,1);
}

