.container {
    background-color: #413f3d;
    height: 63px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.navSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 30px;

}

.activeLink {
    color: yellow; 
    text-decoration: none;
    font-weight: 600;
  }
  

.navLink {
    color: #E6DBD2; 
    text-decoration: none;
    font-weight: 600;
  }
  